streamlit
torch
transformers
pandas
numpy
tqdm
python-dotenv
accelerate
bitsandbytes
einops
sentencepiece
protobuf
plotly
matplotlib
scikit-learn
datasets
tokenizers
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz